<html>
  <head>
    <title>GoNode - Desafio 01</title>
  </head>
  <body>
    <h1>Verificar maioridade</h1>
    <form action="/check" method="POST">
        <input type="text" name="name" placeholder="Nome">
        <input type="text" name="dateOfBirth" placeholder="Data Nasc. (dd/mm/aaaa)">
        <button type="submit">Verificar</button>
    </form>
</html>
